* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#root {
    margin: 0 auto;
    padding: 0.5rem;
    margin: 1rem auto;
    width: 80%;
    border: 1px solid black;
    border-radius: 10px;
}

